[Unit]
Requires=agl-compositor.service
After=agl-compositor.service

[Service]
ExecStart=/usr/bin/flutter-auto --j=/usr/share/flutter/agl_quiz_jsd.json --xdg-shell-app-id=agl_quiz_jsd
Restart=on-failure

[Install]
WantedBy=agl-session.target
